nav {
	width: 100%;
	padding: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

nav ul {
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

nav ul li {
	margin: 0 0.5rem;
}

nav a {
	text-decoration: none;
	font-weight: 600;
	color: var(--primary);
	transition: all 0.25s ease;
}

nav a:hover {
	color: var(--secondary);
	text-shadow: 2px 2px 0 var(--primary);
}
