.res-form {
	width: fit-content;
	margin: 1rem auto;
	padding: 1rem 3rem;
	border: 2px solid var(--primary);
	border-radius: var(--radius);
	display: flex;
	flex-direction: column;
}

.res-form label {
	margin-top: 1rem;
	margin-bottom: 0.25rem;
}

.res-form input[type="date"],
.res-form input[type="number"],
.res-form select {
	padding-left: 0.5rem;
}

.res-form input[type="submit"] {
	margin: 1rem 0;
}
